<%= render partial: 'spree/admin/shared/product_tabs', locals: { current: 'Issues' } %>

<%= csrf_meta_tags %>

<div data-hook="admin_product_issue_edit_header">
  <h2><%= Spree.t("editing_issue") %></h2>
  <%= render partial: 'spree/shared/error_messages', locals: { target: @magazine } %>
</div>

<div data-hook="admin_product_issue_edit_form">
  <div id="issue-form-wrapper">
    <%= form_for [@magazine, @issue], url: admin_magazine_issue_url(@magazine, @issue) do |f| %>
      <%= render 'form', f: f  %>

      <p class="form-buttons" data-hook="buttons">
     	  <%= button Spree.t(:update) %>
      </p>
    <% end %>
  </div>
</div>
