<%= render partial: 'spree/admin/shared/product_tabs', locals: { current: 'Issues' } %>

<% content_for :page_actions do %>
  <li id="new_issue_link">
    <%= button_link_to Spree.t(:new_issue), new_admin_magazine_issue_url(@magazine), { icon: 'plus', id: 'admin_new_issue' } %>
  </li>
<% end if can?(:create, Spree::Issue) %>

<h1><%= Spree.t(:listing_issues) %></h1>

<table class="index" id="listing_issues">
  <thead>
    <tr>
      <th data-hook="admin_issues_index_header_name"><%= Spree.t(:name, scope: 'activerecord.attributes.spree/issue') %></th>
      <th data-hook="admin_issues_index_header_shipped_at"><%= t(:shipped_at, scope: 'activerecord.attributes.spree/issue') %></th>
      <th data-hook="admin_issues_index_header_actions" class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <td data-hook="admin_issues_index_row_name"><%= link_to issue.name, admin_magazine_issue_url(@magazine, issue) %></td>
        <td data-hook="admin_issues_index_row_shipped_at"><%= issue.shipped? ? issue.shipped_at.to_s(:db) : Spree.t(:issue_not_shipped) %></td>
        <td class="actions" data-hook="admin_issues_index_row_actions">
          <%= link_to_with_icon :truck, Spree.t(:ship), admin_magazine_issue_ship_path(@magazine, issue), {no_text: true, confirm: Spree.t(:confirm_ship)} if !issue.shipped? %>
          <%= link_to_with_icon :history, Spree.t(:unship), admin_magazine_issue_unship_path(@magazine, issue), {no_text: true, confirm: Spree.t(:confirm_unship)} if issue == @issues.shipped.order('shipped_at DESC').first %>
          <%= link_to_with_icon :edit,  Spree.t(:edit), edit_admin_magazine_issue_url(@magazine, issue), no_text: true, class: 'edit' if !issue.shipped? %>
          <%= link_to_with_icon :trash,  Spree.t(:delete), admin_magazine_issue_url(@magazine, issue), method: :delete, no_text: true if !issue.shipped? %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
