<%= render partial: 'spree/admin/shared/product_tabs', locals: { current: 'Issues' } %>

<div data-hook="admin_product_issue_header">
  <h2><%= @issue.name %></h2>
</div>

<% if @issue.magazine_issue %>
  <%= render 'magazine_issue', product: @issue.magazine_issue %>
<% end %>

<div class="toolbar" data-hook="admin_issue_show_buttons">
  <%= button_link_to Spree.t(:ship), admin_magazine_issue_ship_path(@product, @issue), icon: :truck, confirm: Spree.t(:are_you_sure) if !@issue.shipped? %>
  <%= button_link_to Spree.t(:pdf), admin_magazine_issue_path(@product, @issue, format: :pdf), icon: 'file-pdf-o' %>
  <%= button_link_to Spree.t(:unship), admin_magazine_issue_unship_path(@magazine, @issue), icon: :history, confirm: Spree.t(:confirm_unship) if @issue == @issue.magazine.issues.shipped.order('shipped_at DESC').first %>
  <%= button_link_to Spree.t(:delete), admin_magazine_issue_url(@magazine, @issue), icon: :trash, method: :delete if !@issue.shipped? %>
</div>
<br class="clear">
<br>

<h1><%= @issue.shipped? ? Spree.t(:shipped_to) : Spree.t(:subscribed) %></h1>

<table class="index" id="subscriptions_listing">
  <thead data-hook="admin_subscriptions_index_headers">
    <th><%= Spree.t(:email) %></th>
    <th><%= Spree.t(:first_name) %></th>
    <th><%= Spree.t(:last_name) %></th>
    <th><%= Spree.t(:street_address) %></th>
    <th><%= Spree.t(:zip) %></th>
    <th><%= Spree.t(:city) %></th>
    <th><%= Spree.t(:state) %></th>
    <th><%= Spree.t(:phone) %></th>
  </thead>
  <tbody>
    <% @product_subscriptions.each do |subscription|%>
      <tr id="<%= spree_dom_id subscription %>" data-hook="admin_subscriptions_index_rows">
        <td><%= subscription.email %></td>
        <td><%= subscription.ship_address.firstname %></td>
        <td><%= subscription.ship_address.lastname %></td>
        <td>
          <%= subscription.ship_address.address1 %>
          <%= raw("</br>#{subscription.ship_address.address2}") if subscription.ship_address.address2.present? %>
        </td>
        <td><%= subscription.ship_address.zipcode %></td>
        <td><%= subscription.ship_address.city %></td>
        <td><%= subscription.ship_address.state_name %></td>
        <td><%= subscription.ship_address.phone %></td>
      </tr>
    <% end %>
  </tbody>
</table>
