<h3><%= Spree.t(:customer_details) %></h3>
<h3><%= Spree::Address.model_name.human(count: 1) %></h3>

<%= f.field_container :email do %>
  <%= f.label :email, Spree.t(:email) %><br />
  <%= f.email_field :email %>
  <%= f.error_message_on :email %>
<% end %>
<%= f.fields_for :ship_address do |sa_form| %>
  <%= render partial: 'spree/admin/shared/subscription_address_form', locals: { f: sa_form, name: Spree.t(:shipping_address) } %>
<% end %>

<p class="form-buttons" data-hook="buttons">
  <%= button Spree.t(:update) %>
</p>

<% content_for :head do %>
  <%= javascript_include_tag 'spree/backend/address_states.js' %>
<% end %>

