<div class="toolbar" data-hook="toolbar">
  <ul class="actions">
    <li id="new_subscription_link">
    <%= button_link_to t(:new_subscription), new_object_url, { :icon => 'add', :id => 'admin_new_subscription' } %>
    </li>
  </ul>
  <br class="clear" />
</div>

<h1><%= t("listing_subscriptions") %></h1>

<table class="index" id="listing_subscriptions">
  <thead>
    <tr>
      <th><%= sort_link @search, :created_at, t(:created_at, :scope => 'activerecord.attributes.spree/subscription') %></th>
      <th><%= sort_link @search, :id, t(:id, :scope => 'activerecord.attributes.spree/subscription') %></th>
      <th><%= sort_link @search, :remaining_issues, t(:remaining_issues, :scope => 'activerecord.attributes.spree/subscription') %></th>
      <th><%= sort_link @search, :state, t(:state, :scope => 'activerecord.attributes.spree/subscription') %></th>
      <th><%= sort_link @search, :email, t(:email, :scope => 'activerecord.attributes.spree/subscription') %></th>
      <th data-hook="admin_subscriptions_index_header_actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @subscriptions.each do |subscription| %>
      <tr>
        <td><%= subscription.created_at.to_date %></td>
        <td><%= link_to subscription.id, edit_object_url(subscription) %></td>
        <td><%= subscription.remaining_issues %></td>
        <td><%= t(subscription.state, :scope => 'subscription_state').downcase %></td>
        <td><%= subscription.email %></td>
        <td class="actions" data-hook="admin_subscriptions_index_row_actions">
          <%= link_to_edit subscription, :class => 'edit'  %>
          &nbsp;
          <%= link_to_delete subscription %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @subscriptions %>
