<h1><%= Spree.t(:subscription).titleize %> <%= @subscription.id %></h1>

<% content_for :sidebar do %>
  <div id="subscription_tab_summary" data-hook>
    <h3 id="subscription_id" data-hook><%= Spree.t(:subscription).titleize %> #<%= @subscription.id %></h3>
    <h5 id="subscription_status" data-hook><%= Spree.t(:status) %>: <%= Spree.t(@subscription.state, scope: :subscription_state) %></h5>
    <br class="clear" />
  </div>
  <br class="clear" />

  <ul class="sidebar" data-hook="admin_subscription_tabs">
      <li<%== ' class="active"' if current == 'Subscription Details' %>>
      <%= link_to Spree.t(:subscription_details), edit_admin_subscription_url(@subscription) %>
      </li>
      <li<%== ' class="active"' if current == 'Customer Details' %>>
      <%= link_to Spree.t(:customer_details), admin_subscription_customer_url(@subscription) %>
      </li>
    </ul>
<% end %>
